body {
  font-family: Arial;
  padding: 20px;
}

input, button {
  padding: 8px;
}

.row-form {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 10px;
}

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

.dark input,
.dark button {
  background: #1e1e1e;
  color: white;
  border: 1px solid #555;
}
