body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background: #f2f2f2;
}

input, button {
  padding: 8px;
  margin: 5px;
}

table {
  margin: auto;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #000;
}

button {
  cursor: pointer;
}
